.input {
  padding: 8px 12px;
}

.title {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.error {
  display: block;
  color: var(--color-error);
  margin-top: 5px;
}

.inputError {
  border-color: var(--color-error);
}

.inputSuccess {
  border-color: var(--color-success);
}
