.programs-grid {
  scrollbar-width: none;

  overflow: hidden auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  align-content: start;

  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  margin-top: 90px;
  padding: 17px 30px 130px;
  border-radius: 30px;

  -ms-overflow-style: none;
}

.program-grid::-webkit-scrollbar {
  display: none;
}

.program-card {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 20px;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 24px;

  color: white;

  background: rgb(30 30 30 / 52%);
  box-shadow: 0 10px 30px rgb(0 0 0 / 50%);

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.program-card::before {
  content: '';

  position: absolute;
  z-index: 0;
  inset: 0;

  background: rgb(30 30 30 / 70%);
  backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.program-card > * {
  position: relative;
  z-index: 1;
}

.program-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgb(0 0 0 / 70%);
}

.program-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.program-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
}

.program-button {
  cursor: pointer;

  align-self: flex-start;

  margin-top: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;

  font-size: 16px;
  font-weight: 600;
  color: white;

  background-color: #4aa3ff;

  transition: background-color 0.2s;
}

.program-button:hover {
  background-color: #2a7fcc;
}
