.responsive-notice {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    color: #fff;
    padding: 14px 18px;
    border-radius: 12px;
    z-index: 100;
}

.responsive-notice__content {
    display: flex;
    gap: 12px;
    align-items: center;
}

.responsive-notice__content button {
    all: unset;
    cursor: pointer;
}