.animated-text {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  max-width: 100%;
  padding: 40px 60px;
  border-radius: 30px;

  font-size: 50px;
  font-weight: 500;
  color: #0d1216;
}

.static-text {
  overflow: auto hidden;
  word-break: keep-all;
  white-space: nowrap;
}
