.content {
  width: 100%;
  max-width: 500px !important;
  margin: 50px auto;
  border-radius: 20px;

  background-color: var(--color-bg-container);
}

.container {
  padding: 40px;
}

.title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 40px;
  color: var(--color-text);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button {
  margin-top: 5px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bottomInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 8px;
}

.switch {
  display: flex;
  flex: 1;
  gap: 5px;
  align-items: center;

  color: var(--color-text-half-shade);
}

.link {
  color: var(--color-purple);
  transition: all 0.3s;
}

.link:hover {
  color: var(--color-purple-hover);
}
