.node {
  position: relative;

  min-width: 180px;
  border: 2px solid;
  border-radius: 12px;

  font-family: sans-serif;
  color: white;

  background: #1c1a1c;
}

.nodeHeader {
  padding: 10px;
  border-bottom: 1px solid #333;
  font-weight: bold;
  text-align: center;
}

.nodeBody {
  padding: 10px;
}

.nodeItem {
  margin-top: 6px;
  padding: 6px;
  border-radius: 6px;

  text-align: center;

  background: #262526;
}

.port {
  position: absolute;
}

.portLeft {
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
}

.portRight {
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.portTop {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.portBottom {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
