.page {
  gap: 28px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: clamp(40px, 7vh, 72px) 28px 28px;
  font-family: Montserrat, sans-serif;
  color: #f5f7fb;
}

.mainContent {
  position: relative;
  z-index: 10;

  width: min(100%, 1200px);
  margin: 0 auto;
}

@media (width <= 760px) {
  .page {
    gap: 18px;
    padding: 32px 16px 16px;
  }

  .main {
    align-items: stretch;
  }
}
